<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONN" value="Data Source=JCONTRERAS_DK1\SQLEXPRESS;Initial Catalog=alcsaDESA;User ID=alcsa;Password=123456789"/>

    <!--add key="CONN" value="Data Source=198.38.92.214;Initial Catalog=oozmacl_alcsaDESA;User ID=oozmacl_alcsacl;Password=2oTMr4ZkY2"/-->
  </appSettings>
</configuration>