<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- ................................................................ -->
    <add key="CONN" value="Data Source=JCA_SERVER\SQLEXPRESS2012;Initial Catalog=alcsaDESA;User ID=alcsa;Password=123456789" />
    <add key="DOCUMENTOS" value="Data Source=JCONTRERAS_DK1\SQLEXPRESS;Initial Catalog=ALCSA_DOCUMENTOS;User ID=alcsa;Password=123456789" />
    <!--add key="CONN" value="Data Source=198.38.92.214;Initial Catalog=oozmacl_alcsaDESA;User ID=oozmacl_alcsacl;Password=2oTMr4ZkY2"/-->
    <add key="Inicio" value="http://localhost/acceso.aspx " />
    <add key="CARPETA_CARGA" value="..\carga" />
    <add key="AMBIENTE" value="testing" />
    <add key="RUTA_QR" value="www.alcsa.cl/Testing/Acceso.aspx?codigo={0}" />
    <add key="USUARIO_REVISION" value="jisantander" />
    <!-- ................................................................ -->
    <!-- CORREO -->
    <add key="SERVIDOR_CORREO" value="190.96.85.4" />
    <add key="PUERTO_SERVIDOR_CORREO" value="587" />
    <add key="CORREO_EMISOR" value="sistema@alcsa.cl" />
    <add key="CONTRASENA_CORREO" value="admin14alc" />
    <add key="ASUNTO_MAIL" value="EMAIL SOLO DE PRUEBA - NO CONSIDERAR: Solicita suspender acciones judiciales de juicio" />
    <!-- ................................................................ -->
  </appSettings>
  <connectionStrings>
    <add name="DOCUMENTOS" connectionString="Data Source=JCA_SERVER\SQLEXPRESS2012;Initial Catalog=ALCSA_DOCUMENTOS;User ID=alcsa;Password=123456789" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="14336" executionTimeout="240" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CobranzaALC.Servicios.ListadosAutocompletarAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="CobranzaALC.Servicios.ListadosAutocompletar">
        <endpoint address="" behaviorConfiguration="CobranzaALC.Servicios.ListadosAutocompletarAspNetAjaxBehavior" binding="webHttpBinding" contract="CobranzaALC.Servicios.ListadosAutocompletar" />
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>